.parent-container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;           
}
.create-account-form {
    max-width: 400px;
    padding: 60px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
  }
  .create-account-form h2 {
    text-align: center;
    display: flex;
    justify-content: center;
    color: black;
    position: relative;
    left: 0;
    right: 0;
    bottom: 70px;
    font-size: 30px;
  }
  
  .create-account-form label {
    display: block;
    margin-bottom: 8px;
    color: black;
    position: relative;
    left: 20px;
    right: 0;
    bottom: 50px;
  }
  
  .create-account-form input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    position: relative;
    left: 0;
    right: 0;
    bottom: 50px;
  }
  
  .create-account-form button {
    width: 250px;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.541);
    border: none;
    border-radius: 5px 5px 5px 5px;
    position: relative;
    left: 20px;
    right: 0;
    bottom: 40px;
    cursor: pointer;
    transition: 0.40s;
  }
  .create-account-form button:hover {
    background-color: #ac292977;
  }
  
