.login {
    color: white;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    position: relative;
    right: 65px;
    top: 10px;

}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    min-width: 320px;
    position: relative;
    background-color: #363535;
    margin-top: 150px;
}

.title{
    display: flex;
    justify-content: center;
    text-shadow: 2px 3px 2px rgb(0, 0, 0);
  }
  .title2{
    color:rgb(184, 45, 45);
  }
  

.input-wrapper {
    position: relative;
    margin-top: 20px;
    width: calc(100% - 40px); 
    max-width: 280px;
    
}

.input-wrapper label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    transition: 0.2s ease all;
    pointer-events: none; 
    background-color: #363535;
    margin-left: 20px;
}

input {
    padding: 15px 10px 10px;
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
    background: transparent; 
    border: 1px solid white;
    color: white;
    font-size: 16px;
    box-sizing: border-box;
    margin-left: 20px;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    font-size: 15px;
    color: white;
}

.login-btn {
    background-color: brown;
    padding: 10px;
    margin-top: 20px;
    width: calc(100% - 40px);
    max-width: 280px;
    border-radius: 5px;
    text-align: center;
    color: white;
    cursor: pointer;
    border: none;
    margin-left: 20px;
}

.login-btn:hover {
    background-color: red;
}

p {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    color: white;
}

.create-account {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 360px) {
    .login-form {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    
    .create-account {
        margin-top: 10px;
        margin-left: 0;
    }
}
