.parent-login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    
}
.login {
    color: white;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 0px;
    margin-top: 0;
    min-width: 200px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-width: 320px;
    position: relative;
    background-color: #363535;
    margin-top: 150px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: linear-gradient(45deg, rgba(0,0,0,0.1), rgba(255,255,255,0.1));
  }
  
  .login-form::before, .login-form::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background: linear-gradient(45deg, rgba(0,0,0,0.1), rgba(255,255,255,0.1));
    z-index: -1;
  }
  
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-shadow: 2px 3px 2px rgb(0, 0, 0);
    margin-top: -25px;
    margin-bottom: 10px;
  }
  
  .title2 {
    color: rgb(224, 77, 77);
  }
  .pulse-logo{
    width: 70px;
    height: 50px;
    order: 2;
   
  }
  
  .input-wrapper {
    position: relative;
    margin-top: 30px;
    max-width: 280px;
  }
  
  .input-wrapper label {
    position: absolute;
    top: 10px;
    left: 5px;
    color: white;
    transition: 0.2s ease all;
    pointer-events: none;
    padding: 0 4px;
    transform: translateY(0); 
  }
  
  .input-wrapper input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.671);
    color: white;
    outline: none;
    transition: padding 0.2s ease, border-color 0.2s ease;
  }
  
  .input-wrapper input:focus {
    border-color: red; 
  }
  
  .input-wrapper input:focus + label,
  .input-wrapper input:not(:placeholder-shown) + label {
    top: -25px; 
    left: 5px;
    font-size: 15px;
    color: white; 
  }
  

input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 10px 10px;
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
    background: transparent; 
    border: 1px solid white;
    color: white;
    font-size: 16px;
    box-sizing: border-box;

}

input:focus + label,
input:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    font-size: 15px;
    color: rgb(201, 38, 38);

}
.password-toggle {
    position: absolute;
    top: 50%;
    right: 0.75rem; 
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1rem; 
    color: white;
  }

.login-btn {
    background-color:rgb(224, 77, 77);
    padding: 10px;
    margin-top: 10px;
    width: calc(100% - 0px);
    max-width: 280px;
    border-radius: 5px;
    text-align: center;
    color: white;
    cursor: pointer;
    border: none;
    
}

.login-btn:hover {
    background-color: red;
}


.reset-btn{
  background-color:rgb(224, 77, 77);
  padding: 10px;
  margin-top: 10px;
  width: calc(100% - 0px);
  max-width: 280px;
  border-radius: 5px;
  text-align: center;
  color: white;
  cursor: pointer;
  border: none;
}

.reset-btn:hover{
  background-color: red;
}

p {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    color: white;
}

.create-account {
    font-size: 14px;
    text-align: center;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
    top: 1;
    bottom: 10px;
}
.create-account:hover{
    color: red;
}
.setNewPassword{
  cursor: pointer;
  font-size: 13px;
  color: white;
}

.setNewPassword:hover{
  color: red;
}
  .login-btn.loading::after {
    content: '';
    display: inline-block;
    border: 3px solid red;
    border-top: 3px solid transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin-left: 10px;
  }
  .back-login{
    position: relative;
    color: white;
    cursor: pointer;
    top: 10px;
    margin-bottom: 20px !important;
  }
  .back-login:hover{
    color: rgb(212, 73, 73);
  }

  .back-login-container{
    padding-bottom: 20px;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

@media (max-width: 360px) {
    .parent-login-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login {
        margin-bottom: -5px;
    }
    .login-btn {
      margin-top: 40px
      
  }
  
    .pulse-logo{
        width: 40px;
        height: 40px; 
      }
    .title{
        font-size: 10px;
        margin-top: 10px;
      }
    .login-form {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 100px;
        font-size: 13px;
        min-width: 120px;
        width: 250px;
    }
    input {
       width: 200px; 
    }
    
input:focus + label,
input:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    font-size: 13px;
    color: rgb(201, 38, 38);

}

    .create-account {
        margin-left: 0;
        margin-bottom: 10px;
        text-decoration: none;
        color:white;
        font-size: 11px;
        padding-left: 15px;
    }
    .dont-have-acct{
      margin-bottom: 10px;
      font-size: 13px;

    }
    .setNewPassword{
      color: white;
      font-size: 11px;
      margin-top: 10px;
      position: absolute;
    }
}

  
  .login-btn.loading {
    background-color: transparent;
    cursor: not-allowed;
  }
  