.login {
    color: white;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Added padding for better spacing */
}

label {
    display: flex;
    margin-top: 10px;
}

input {
    padding: 10px;
    width: calc(100% - 40px); /* To account for padding/margin and keep it centered */
    max-width: 280px; /* Adjusted max-width for better fit */
    border-radius: 5px;
    margin: 0 auto; /* Center the input */
}

.login-btn {
    background-color: brown;
    padding: 10px;
    margin-top: 20px;
    width: calc(100% - 40px); /* Consistent width with input */
    max-width: 280px;
    border-radius: 5px;
    text-align: center;
    color: white;
    cursor: pointer;
    margin: 0 auto; /* Center the button */
}

p {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
}

.create-account {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 360px) {
    .login-form {
        padding: 10px; 
    }
    
    .login-btn{
        align-items: center;
        justify-content: center;
        text-align: center;
        align-self: center;
        align-content: center;
    }

    .login-btn{
        margin-top: 10px;
        margin-left: 10px;
    }
    .login-btn:hover{
        background-color: red;
    }

    p, .create-account {
        width: 100%;
        text-align: center;
    }
    .create-account{
        margin-left: 80px;
    }
}
