.btn{
    background-color: rgb(128, 19, 19);
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    transition: background-color 0.50s;
}
.btn:hover{
    background-color:rgb(184, 45, 45);
}
.join-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input-container {
    display: flex;
    align-items: center;
    gap: 0px;
    padding: 10px;
  }
.input-username{
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    color: white;
}
.input-room-name{
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    color: white;
}
.send-btn {
    margin-left: 10px; 
  }
  
.input-send {
    flex: 1; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px 20px 20px 20px;
  }
input::placeholder{
    color: rgba(255, 255, 255, 0.356);
}
.join{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.camera-icon {
    font-size: 30px;
    cursor: pointer;
    margin-right: 10px; 
  }

@media (max-width: 767px){
    .join-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0px;
        padding: 10px;
      }
    .input-username{
        padding: 10px;
        color: white;
        margin-bottom: 10px;
        border-radius: 5px 5px 5px 5px;
    }
    .input-room-name{
        padding: 10px;
        color: white;
        border-radius: 5px 5px 5px 5px;
    }

    .input-container {
        display: flex;
        justify-content: center; 
        left: 0;
        position:absolute;
        
      }

      .input-send {
        padding: 10px;
        border-radius: 20px 20px 20px 20px;
        color: white;
        width: 200px;
        background-color: #333;
      }
      input::placeholder{
        color: rgba(255, 255, 255, 0.308);
    }
      .send-btn{
        margin-left: 0;
      }
      .send-icon {
        color: red; 
        margin: 0;
      }
      .camera-icon {
        font-size: 30px;
        cursor: pointer;
        margin-right: 10px; 
      }

 
}