.btn{
    background-color: rgb(128, 19, 19);
    padding: 10px;
  
    cursor: pointer;
    transition: background-color 0.50s;
}
.btn:hover{
    background-color:rgb(184, 45, 45);
}
.input-username{
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
    color: white;
}
.input-room-name{
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    color: white;
}
.send-btn{
    padding: 10px;
    cursor: pointer;
    background-color: rgb(184, 45, 45);
    transition: background-color 0.40s;
}
.send-btn:hover{
background-color: rgb(137, 25, 25);
}
.input-send{
    padding: 10px;
    border-radius: 0px 0px 0px 0px;
    color: white;
}
input::placeholder{
    color: white;
}
.join{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}