.btn{
    background-color: rgb(128, 19, 19);
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    transition: background-color 0.50s;
}
.btn:hover{
    background-color:rgb(184, 45, 45);
}
.input-username{
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
    color: white;
}
.input-room-name{
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    color: white;
}
.send-btn{
    cursor: pointer;
}
.input-send{
    padding: 10px;
    border-radius: 20px 20px 20px 20px;
    color: white;
}
input::placeholder{
    color: white;
}
.join{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
@media (max-width: 767px){
    .input-container {
        display: flex;
        justify-content: center; 
        margin-top: 20px; 
      }

      .input-send {
        padding: 10px;
        border-radius: 20px 20px 20px 20px;
        color: white;
        width: 200px;
        background-color: #333;
      }
      .send-btn{
        margin-left: 0;
      }
      .send-icon {
        color: red; 
        margin: 0;
      }

 
}