.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  height: auto;
  width: auto;
  min-width: 200px;
}

.chat-title {
  padding: 10px;
  background-color: #f5f5f5; 
  border-bottom: 1px solid #ccc;
  z-index: 10; 
  position: relative; 
}

.message-container {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  padding-bottom: 80px; 
  background-color: none;
  display: flex;
  flex-direction: column;
  
}

.message {
  min-width: 200px;
  margin-bottom: 10px;
  display: block;
  max-width: 80%;
  clear: both;
  word-wrap: break-word;
  overflow-wrap: break-word ;

}

.message-image {
  max-width: 200px;
  display: block;
  margin-top: 10px;
}

.message-timestamp {
  font-size: 0.8em;
  color: #ffffff;
  margin-bottom: 4px;
}

.typing-indicator {
  font-style: italic;
  color: #d60f0f;
}

.input-footer {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  width: 100%; 
  position: fixed; 
  bottom: 0;
  left: 0;
  box-sizing: border-box; 
  z-index: 10; 
  min-width: 100px;
}

.input-send {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #eee;
  color: black;
  max-width: 100%;
  min-width: 100px;
}

.send-btn {
  margin-left: 10px;
}

.camera-icon {
  font-size: 30px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 5px;
}

.message.my-message {
  align-self: flex-end; 
  text-align: right;
  border-radius: 10px; 
  padding: 10px;
  margin-left: auto;
  background-color: rgba(128, 128, 128, 0.219); 
}
.message strong {
  margin-right: 10px; 
  font-weight: bold;
}

.message.other-message {
  background-color: rgba(255, 0, 0, 0.308); 
  align-self: flex-start; 
  text-align: left; 
  border-radius: 10px;
  padding: 10px;
  margin-right: auto;
}
.chat-container .join-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.join-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    
    
}
.input-room-name{
    padding: 10px;
    width: 200px;
    display: flex;
}
.input-username{
    padding: 10px;
    width: 200px;
    display: flex;
}
.btn{
    background-color: rgb(224, 77, 77);
    border: none;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    transition: background-color 0.40s;
    cursor: pointer;
    left: 10px;
    position: relative;
    right: 0;


}
.btn:hover{
    background-color: #f50b0b;
}
@media (max-width: 767px) {
  .input-footer {
    background-color: #333;
  }

  .input-send {
    background-color: #444;
    padding: 10px !important;
    color: white;
  }

  .send-btn {
    margin-left: 10px;
  }

  .camera-icon {
    font-size: 25px; 
    margin-right: 8px; 

  }

  .message-timestamp {
    font-size: 0.8em;
    color: white;
    margin-bottom: 4px;
  }
  .message {
    font-size: 12px;
  }
  .input-room-name{
    padding: 10px;
}
.input-username{
    padding: 10px;
}
.btn{
    background-color: rgb(168, 12, 12);
    transition: background-color 0.40s;
}
.btn:hover{
    background-color: #f50b0b;
}
}
